body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #f5f7fa, #e4ecf3);
}

/* HEADER (same style) */
.header {
    position: sticky;
    top: 0;
    background: #fcfdfe;   /* same as footer */
    color: rgb(0, 0, 0);
    z-index: 1000;
    padding: 20px;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid #000;
}

/* Layout like footer */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Title */
.header h2 {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.home-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.home-icon svg path {
    stroke: black;
}

/* CONTAINER */
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* HERO */
.hero {
    text-align: center;
    margin: 40px 0;
}

.hero h1 {
    font-size: 40px;
    margin: 0;
}

.hero p {
    color: #555;
}

/* CARD */
.card {
    background: white;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* TEXT */
.highlight {
    font-weight: bold;
    color: #1e88e5;
}

.note {
    color: #777;
    font-style: italic;
}

/* THANK YOU */
.thank {
    text-align: center;
    margin: 40px 0;
}

/* FOOTER */
.footer {
    background: #e7e9ec;
    color: #000;
    padding: 25px 15px;
    margin-top: 40px;
    font-family: Arial, sans-serif;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    min-width: 200px;
}


/* ANIMATION */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.8s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* LOGO */
.logo-section {
    text-align: center;
    margin: 40px 0;
}

.logo-section img {
    width: 220px;
    max-width: 80%;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}