body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f0f0f0;
    transition: 0.4s;
}

/* DARK MODE */
body.dark {
    background: #121212;
    color: white;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: white;
    border-bottom: 2px solid black;
    flex-wrap: wrap;
}

body.dark .header {
    background: #1f1f1f;
}

.logo-text {
    font-size: 36px;
    color: #0b2a66;
}

.nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links a {
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

.dark-btn {
    margin-left: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Mobile Responsive */
@media (max-width: 768px) {

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-top: 10px;
    }

    .logo-text {
        font-size: 28px;
    }
}
/* LOGO */
.logo-section {
    text-align: center;
    margin: 40px 0;
}

.logo-section img {
    width: 220px;
    max-width: 80%;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* PROJECTS */
.projects {
    padding: 40px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 25px;
    margin-top: 20px;
}

.safe-link {
    background: black;
    color: red;
    padding: 40px;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 10px;
}

.safe-link:hover {
    background: red;
    color: white;
    transform: scale(1.05);
}

.card {
    background: #87a9d6;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

/* TEAM */
.members {
    padding: 40px;
}

.member-card {
    background: #e0e0e0;
    padding: 25px;
    margin: 15px 0;
    border-radius: 10px;
    transition: 0.3s;
}

body.dark .member-card {
    background: #2a2a2a;
}

.member-card:hover {
    transform: translateY(-5px);
}

/* ANIMATION */
.fade-in {
    animation: fade 1s ease-in;
}

@keyframes fade {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* MOBILE */
@media (max-width: 768px) {

    .nav-links {
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        right: 20px;
        top: 60px;
        padding: 15px;
        border-radius: 10px;
    }

    body.dark .nav-links {
        background: #1f1f1f;
    }

    .nav-links.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
